# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

.idea/
.vscode/
.vs/
*/**/build/
inter/
test/

*/**/bin/*.exe
*/**/bin/*.log
*/**/bin/*.ilk
*/**/bin/*.dll
*/**/bin/*.iobj
*/**/bin/*.ipdb
*/**/bin/*.pdb

P3/ProyectoBase/bin/TaharezLook.looknfeel
